.header {
    position: relative;
    z-index: 0;
    
    padding: 28px 0 124px;
    
    background-image: url(../images/banner-bg.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.header::before {
    content: "";
    
    position: absolute;
    z-index: -1;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: #000000;
    opacity: 0.6;
}
  
.header-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
    align-items: center;
}
  
.logo-link {
    display: block;
    text-decoration: none;
}
  
.logo {
    display: block;
    width: 179px;
    margin-left: 3px;
}

.menu-hamburger {
    display: none;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu-list-item {
    margin-left: 34px;
}

.menu-list-link {
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.menu-list-link:hover {
    text-decoration: underline;
}

.header-title {
    box-sizing: border-box;
    width: 700px;
    margin: 103px auto 0;

    line-height: 1.7;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
}

.now-in-trends {
    width: 100%;
    margin-top: 57px;

}

.now-in-trends-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.now-in-trends-title::after {
    content: "";

    display: block;
    width: 66px;
    height: 3px;
    margin: 9px auto 0;

    background: #e1d9bd;
}

.trends-cards {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-top: 28px;
}

.trend {
    position: relative;
    z-index: 0;

    display: flex;
    min-height: 279px;
    padding: 20px;

    align-items: end;
    vertical-align: bottom;
}

.trend::before {
    content: "";
    
    position: absolute;
    z-index: -1;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: #000000;
    opacity: 0.6;
}

.trend:nth-child(1) {
    background-image: url(../images/trend1.jpg);
    background-size: cover;
}

.trend:nth-child(2) {
    background-image: url(../images/trend2.jpg);
    background-size: cover;
}

.trend:nth-child(3) {
    background-image: url(../images/trend3.jpg);
    background-size: cover;
}

.trend:nth-child(4) {
    background-image: url(../images/trend4.jpg);
    background-size: cover;
}

.trend-text {
    box-sizing: border-box;

    width: 100%;
    padding: 34px 37px;
    border: 2px solid #a17c46;
}

.trend-text-tags {
    display: flex;
    margin-bottom: 6px;
    list-style: none;
}

.trend-text-tag {
    margin-right: 19px;
}

.trend-text-tag-link {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    color: #b59f5b;
}

.trend-text-tag-link:hover {
    text-decoration: underline;
}

.trend-text-title-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.trend-text-title-link:hover {
    color: #b59f5b;
}

.page {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
    max-width: 1200px;
    margin: 64px auto 0;
    padding: 0 15px;
}

.main {
    max-width: 778px;
}

.main-news {
    display: flex;
}

.main-news:nth-child(n+2) {
    margin-top: 59px;
}

.main-news:nth-child(n+4) {
    margin-top: 62px;
}

.main-news:nth-child(n+6) {
    margin-top: 60px;
}

.main-news-image {
    width: 381px;
    height: 100%;
}

.main-news-text {
    margin-left: 31px;
}

.main-news-tags {
    display: flex;
    margin-bottom: 6px;
    list-style: none;
}

.main-news-tag {
    margin-right: 19px;
}

.main-news-tag-link {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    color: #b59f5b;
}

.main-news-tag-link:hover {
    text-decoration: underline;
}

.main-news-title-link {
    text-decoration: none;
    color:#0f0d0e;
}

.main-news-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}

.main-news-title-link:hover {
    color: #b59f5b;
}

.main-news-subtitles {
    display: flex;
    gap: 12px;
    margin-top: 28px;
}

.main-news-subtitle-time {
    font-size: 12px;
    color: #888888;
}

.main-news-subtitle-autor {
    font-size: 12px;
    font-weight: 700;
}

.main-news-content > p {
    margin-top: 46px;
    font-size: 15px;
    line-height: 1.45;
}

.main-news-content > p:not(:first-child) {
    margin-top: 12px;
}

.aside {
    width: 272px;
}

.aside-item {
    display: block;
    padding: 0 1px;
    text-align: center;
}

.aside-item:nth-child(n+2) {
    margin-top: 62px;
}

.aside-item:nth-child(n+4) {
    margin-top: 55px;
}

.aside-titles {
    margin-top: -2px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.aside-titles::after {
    content: "";

    display: block;
    width: 66px;
    height: 3px;
    margin: 12px auto 0;

    background: #b59f5b;
}

.aside-post {
    display: flex;
    margin-top: 29px;
    text-align: left;
}

.aside-post:nth-child(n+3) {
    margin-top: 21.5px;
}

.aside-post-image {
    width: 70px;
    height: 100%;
}

.aside-post-text {
    margin-left: 19px;
}

.aside-post-time {
    display: block;
    margin-bottom: 2px;

    line-height: 1;
    font-size: 12px;

    opacity: 0.54;
}

.aside-post-title-link {
    text-decoration: none;
    color: #0f0d0e;
}

.aside-post-title-link:hover {
    color: #b59f5b;
}

.aside-post-title {
    font-size: 14px;
    text-transform: uppercase;
}

.search-form {
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
    height: 48px;
    background-color: #f4f7f6;
}

.search-label {
    display: flex;
}

.search-input {
    box-sizing: border-box;
    width: 224px;
    padding: 0 18px;
    background-color: #f4f7f6;
}

.search-input:focus {
    outline-color: #b59f5b;
    outline-style: solid;
}

.search-button {
    display: block;
    width: 48px;
    
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    background-color: #b59f5b;
}

.search-button:hover {
    background-color: #323232;
    cursor: pointer;
}

.mail {
    display: block;
    margin-top: 62px;
    text-align: center;
}

.mail-form {
    display: block;
    align-items: center;
    margin-top: 23px;

    text-align: left;
}

.mail-input:focus {
    outline-color: #b59f5b;
    outline-style: solid;
}

.mail-input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 18px;

    background-color: #f4f7f6;
}

.mail-button {
    width: 100%;
    height: 48px;
    margin-top: 17px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    color: #fff;
    background-color: #b59f5b;
}

.mail-button:hover {
    background-color: #323232;
    cursor: pointer;
}

.aside-tags {
    display: block;
    margin-top: 62px;
    text-align: center;
}

.aside-list-tags {
    margin-top: 24px;
    text-align: left;
    list-style: none;
}

.aside-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 1.7px 5px;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    border: 3px  solid #eeeeee;
}

.aside-tag:hover {
    border: 3px  solid #b59f5b;
}

.aside-tag-link {
    display: inline-block;
    box-sizing: border-box;
    padding: 4px 13px;

    text-decoration: none;
    color: #0f0d0e;
}

.aside-themes {
    display: block;
    margin-top: 55px;
    text-align: center;
}

.aside-list-themes {
    margin-top: 10px;
    padding: 0 2px;
    text-align: left;
    list-style: none;
}

.aside-theme {
    display: flex;
    align-items: center;
    height: 46.1px;

    font-size: 14px;
    font-weight: 700;

    border-bottom: 1px solid #eeeeee;
}

.aside-theme-link {
    text-decoration: none;
    color: #0f0d0e;
}

.aside-theme-link:hover {
    text-decoration: none;
    color: #b59f5b;
}

.aside-theme-sup {
    display: inline-block;
    padding-left: 4px;
    vertical-align: super;

    font-size: 12px;
    font-weight: 700;
    
    color: #b59f5b;
}

.our-products {
    box-sizing: border-box;
    
    max-width: 1200px;
    margin: 57px auto 0;
    padding: 0 15px;
}

.our-products-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.our-products-title::after {
    content: "";

    display: block;
    width: 63px;
    height: 3px;
    margin: 9px auto 28px;

    background: #b59f5b;
}

.our-products-items {
    display: grid;
    width: 100%;
    gap: 61px;

    grid-template-columns: 1fr 1fr 1fr;
}

.our-products-item {
    display: flex;
    flex-direction: column;
}

.our-products-item-image {
    width: 300px;
    min-height: 204px;
    margin: auto;
}

.our-products-item:nth-child(1) > .our-products-item-image {
    background-image: url(../images/shop-item-desk1.jpg);
}

.our-products-item:nth-child(2) > .our-products-item-image {
    background-image: url(../images/shop-item-desk2.jpg);
}

.our-products-item:nth-child(3) > .our-products-item-image {
    background-image: url(../images/shop-item-desk3.jpg);
}

.our-products-item-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    box-sizing: border-box;

    width: 100%;
    margin-top: -32px;
    padding: 48px 20px 26px;

    border: 3px solid #b59f5b;
}

.our-products-item-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.our-products-item-p {
    margin-top: 2px;
    line-height: 1.5;
    font-size: 15px;
}

.our-products-item-link {
    text-decoration: none;
    color: #b59f5b;
}

.our-products-item-link:hover {
    text-decoration: underline;
}

.our-products-item-price-group {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 21px;
}

.our-products-item-value-sale {
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}

.our-products-item-value {
    font-size: 20px;
    font-weight: 700;
    margin-top: -4px;
}

.our-products-item-button {
    display: block;
    padding: 15px 29px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #b59f5b;
    color: #ffffff;
}

.our-products-item-button:hover {
    background-color: #000000;
}

.footer {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 64px auto 0;
    padding: 0 15px;

    text-align: center;
}


.footer-address-social-media {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    width: 100%;
    padding: 31px 0;

    background-color: #f4f7f6;
}

.footer-list-social-media {
    list-style: none;
    display: flex;
    gap: 28px;
}

.footer-social-media {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.dribbble {
    background-image: url(../svg/001-dribbble.svg);
}

.pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.footer-social-media-link {
    display: block;
    width: 20px;
    height: 20px;
}

.copyright {
    display: block;
    margin-top: 71px;
    margin-bottom: 40px;

    font-weight: 700;

    color: #999999;
}