@media (orientation: landscape) and (max-width: 640px) {
    .trends-cards {
        display: grid;
        gap: 4px;
        grid-template-columns: 1fr 1fr;
        margin-top: 18px;
    }
}

body {
    margin: 0;
    border: 0;
}

.header {
    position: relative;
    z-index: 0;
    
    min-width: 320px;
    padding: 0 0 45px;
    
    background-image: url(../images/banner-mobile.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.header::before {
    content: "";
    
    position: absolute;
    z-index: -1;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: #000000;
    opacity: 0.6;
}
  
.header-container {
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    
    margin: auto;
    padding-top: 43px;
    align-items: end;
}
  
.logo-link {
    display: block;
    text-decoration: none;
    margin: auto;
}
  
.logo {
    display: block;
    width: 269px;
    margin-top: 137px;
}

.menu-hamburger-link {
    display: block;
    width: 23px;
    height: 19px;
    margin-right: 16px;
}

.menu-hamburger-item {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;

    background-color: #ffffff;
}

.menu-hamburger-item:nth-child(3) {
    margin-bottom: 0px;
}

.menu-list {
    display: none;
}

.header-title {
    box-sizing: border-box;
    width: 282px;
    margin: 45px auto 0;

    line-height: 1.35;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
}

.now-in-trends {
    min-width: 320px;
    margin-top: 45px;
}

.now-in-trends-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.now-in-trends-title::after {
    content: "";

    display: block;
    width: 66px;
    height: 3px;
    margin: 10px auto 0;

    background: #e1d9bd;
}

.trends-cards {
    margin-top: 18px;
}

.trend {
    position: relative;
    z-index: 0;

    display: flex;
    min-height: 229px;
    margin-bottom: 2px;
    padding: 20px;

    align-items: end;
    vertical-align: bottom;
}

.trend::before {
    content: "";
    
    position: absolute;
    z-index: -1;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: #000000;
    opacity: 0.6;
}

.trend:nth-child(1) {
    background-image: url(../images/trend1.jpg);
    background-size: cover;
}

.trend:nth-child(2) {
    background-image: url(../images/trend2.jpg);
    background-size: cover;
}

.trend:nth-child(3) {
    background-image: url(../images/trend3.jpg);
    background-size: cover;
}

.trend:nth-child(4) {
    background-image: url(../images/trend4.jpg);
    background-size: cover;
}

.trend:last-child {
    margin-bottom: 0px;
}

.trend-text {
    box-sizing: border-box;

    width: 100%;
    padding: 34px 37px;
    border: 2px solid #a17c46;
}

.trend-text-tags {
    display: flex;
    margin-bottom: 6px;
    list-style: none;
}

.trend-text-tag {
    margin-right: 19px;
}

.trend-text-tag-link {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    color: #b59f5b;
}

.trend-text-tag-link:hover {
    text-decoration: underline;
}

.trend-text-title-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.trend-text-title-link:hover {
    color: #b59f5b;
}

.page {
    box-sizing: border-box;
    min-width: 320px;

    margin: 44px auto 0;
    padding: 0 5%;
}

.main-news-image {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.main-news-tags {
    display: flex;
    margin: 15px auto 10px;
    list-style: none;
}

.main-news-tag {
    margin-right: 19px;
}

.main-news-tag-link {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    color: #b59f5b;
}

.main-news-tag-link:hover {
    text-decoration: underline;
}

.main-news-title-link {
    text-decoration: none;
    color:#0f0d0e;
}

.main-news-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
}

.main-news-title-link:hover {
    color: #b59f5b;
}

.main-news-subtitles {
    display: flex;
    gap: 12px;
    margin-top: 17px;
}

.main-news-subtitle-time {
    font-size: 12px;
    color: #888888;
}

.main-news-subtitle-autor {
    font-size: 12px;
    font-weight: 700;
}

.main-news-content-p {
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.45;
}

.main-news::after {
    content: "";

    display: block;
    width: 100%;
    height: 3px;
    margin: 19px auto 33px;

    background: #eeeeee;
}

.main-news:last-child::after {
    display: none;
}

.main-news-content-p:not(:first-child) {
    margin-top: 12px;
}

.aside {
    width: 100%;
    margin: 45px auto 0;
}

.aside-item {
    display: block;
    padding: 0 1px;
    text-align: center;
}

.aside-item:nth-child(n+2) {
    margin-top: 62px;
}

.aside-item:nth-child(n+4) {
    margin-top: 55px;
}

.aside-titles {
    margin-top: -2px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.aside-titles::after {
    content: "";

    display: block;
    width: 66px;
    height: 3px;
    margin: 14px auto 0;

    background: #b59f5b;
}

.aside-post {
    display: flex;
    margin-top: 30px;
    text-align: left;
}

.aside-post:nth-child(n+3) {
    margin-top: 21.5px;
}

.aside-post-image {
    width: 70px;
    height: 100%;
}

.aside-post-text {
    margin-left: 19px;
}

.aside-post-time {
    display: block;
    margin-bottom: 2px;

    line-height: 1;
    font-size: 12px;

    opacity: 0.54;
}

.aside-post-title-link {
    text-decoration: none;
    color: #0f0d0e;
}

.aside-post-title-link:hover {
    color: #b59f5b;
}

.aside-post-title {
    font-size: 14px;
    text-transform: uppercase;
}

.search-form {
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
    height: 48px;
    background-color: #f4f7f6;
}

.search-label {
    display: flex;
}

.search-input {
    box-sizing: border-box;
    width: 224px;
    padding: 0 18px;
    background-color: #f4f7f6;
}

.search-input:focus {
    outline-color: #b59f5b;
    outline-style: solid;
}

.search-button {
    display: block;
    width: 48px;
    
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    background-color: #b59f5b;
}

.search-button:hover {
    background-color: #323232;
    cursor: pointer;
}

.mail {
    display: block;
    margin-top: 62px;
    text-align: center;
}

.mail-form {
    display: block;
    align-items: center;
    margin-top: 21px;

    text-align: left;
}

.mail-input:focus {
    outline-color: #b59f5b;
    outline-style: solid;
}

.mail-input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 0 18px;

    background-color: #f4f7f6;
}

.mail-button {
    width: 100%;
    height: 48px;
    margin-top: 17px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    color: #fff;
    background-color: #b59f5b;
}

.mail-button:hover {
    background-color: #323232;
    cursor: pointer;
}

.aside-tags {
    display: block;
    margin-top: 62px;
    text-align: center;
}

.aside-list-tags {
    margin-top: 24px;
    text-align: left;
    list-style: none;
}

.aside-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 1.7px 5px;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    border: 3px  solid #eeeeee;
}

.aside-tag:hover {
    border: 3px  solid #b59f5b;
}

.aside-tag-link {
    display: inline-block;
    box-sizing: border-box;
    padding: 4px 13px;

    text-decoration: none;
    color: #0f0d0e;
}

.aside-themes {
    display: block;
    margin-top: 53px;
    text-align: center;
}

.aside-list-themes {
    margin-top: 4px;
    padding: 0 2px;
    text-align: left;
    list-style: none;
}

.aside-theme {
    display: flex;
    align-items: center;
    height: 46.1px;

    font-size: 14px;
    font-weight: 700;

    border-bottom: 1px solid #eeeeee;
}

.aside-theme-link {
    text-decoration: none;
    color: #0f0d0e;
}

.aside-theme-link:hover {
    text-decoration: none;
    color: #b59f5b;
}

.aside-theme-sup {
    display: inline-block;
    padding-left: 4px;
    vertical-align: super;

    font-size: 12px;
    font-weight: 700;
    
    color: #b59f5b;
}

.our-products {
    box-sizing: border-box;
    max-width: 768px;
    margin: 44px auto 0;
    padding: 0 15px;
}

.our-products-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.our-products-title::after {
    content: "";

    display: block;
    width: 63px;
    height: 3px;
    margin: 9px auto 28px;

    background: #b59f5b;
}

.our-products-items {
    width: 100%;
}

.our-products-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.our-products-item:last-child {
    margin-bottom: 0;
}

.our-products-item-images {
    width: calc(100% - 58px);
    margin: auto;
}

.our-products-item-image {
    width: 100%;
    object-fit: cover;
}

.our-products-item-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    box-sizing: border-box;

    width: 100%;
    margin-top: -32px;
    padding: 48px 20px 26px;

    border: 3px solid #b59f5b;
}

.our-products-item-title {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.our-products-item-p {
    margin-top: 2px;
    line-height: 1.5;
    font-size: 15px;
}

.our-products-item-link {
    text-decoration: none;
    color: #b59f5b;
}

.our-products-item-link:hover {
    text-decoration: underline;
}

.our-products-item-price-group {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 21px;
}

.our-products-item-value-sale {
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}

.our-products-item-value {
    font-size: 20px;
    font-weight: 700;
    margin-top: -4px;
}

.our-products-item-button {
    display: block;
    padding: 15px 29px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #b59f5b;
    color: #ffffff;
}

.our-products-item-button:hover {
    background-color: #000000;
}

.footer {
    box-sizing: border-box;
    max-width: 767px;
    margin: 50px auto 0;
    padding: 0 15px;

    text-align: center;
}


.footer-address-social-media {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    width: 100%;
    padding: 31px 0;

    background-color: #f4f7f6;
}

.footer-list-social-media {
    list-style: none;
    display: flex;
    gap: 28px;
}

.footer-social-media {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.dribbble {
    background-image: url(../svg/001-dribbble.svg);
}

.pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.footer-social-media-link {
    display: block;
    width: 20px;
    height: 20px;
}

.copyright {
    display: block;
    margin-top: 44px;
    margin-bottom: 40px;

    font-weight: 700;

    color: #999999;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 0, 0.6);
}

.popup-content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 30px 23px;

    background-color: #ffffff;
}

.popup-close {
    position: absolute;
    top: -21px;
    right: 0;

    width: 17px;
    height: 17px;
    background-color: rgba( 0, 0, 0, 0);
}

.popup-close:hover {
    cursor: pointer;
}

.popup-close-image {
    object-fit: cover;
    background-color: none;
}

.popup-content-title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.popup-content-title::after {
    content: "";

    display: block;
    width: 65px;
    height: 3px;
    margin: 9px auto 28px;

    background: #b59f5b;
}

.select {
    display: block;
    width: 100%;
    margin-bottom: 35px;
}

.form-select-label {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.form-select-label-text {
    font-size: 13px;
}

.form-select-label-select {
    -webkit-appearance: none;

    padding: 15px;

    font-size: 13px;

    background-color: #f4f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-size: 8px 16px;
    background-position: right 15px center;
    background-repeat: no-repeat;

    border: none;

    color: #888888;
}

.form-select-label-select:focus {
    outline: 2px solid #b59f5b;
}

.radio {
    display: block;
    width: 100%;
    margin-bottom: 35px;
}

.form-radio-label-text {
    display: block;
    width: 100%;
    margin-bottom: 12px;

    font-size: 13px;
}

.form-radio-label {
    margin-right: 17px;
}

.input-radio {
    display: none;
}

.input-radio-button::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;

    font-size: 13px;

    background-image: url(../svg/form-empty-circle.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.input-radio-button:hover {
    cursor: pointer;
}

.input-radio:checked + .input-radio-button::before {
    background-image: url(../svg/form-circle.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.form-message-label-text {
    display: block;
    width: 100%;
    margin-bottom: 11px;
    font-size: 13px;
}

.form-message-label-textarea {
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;

    padding: 20px;
    
    background-color: #f4f7f6;
    border: none;
}

.form-message-label-textarea:focus {
    outline: 2px solid #b59f5b;
}

::-webkit-input-placeholder { color:#888888; font-family: OpenSans;}

.popup-button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 49px;
    margin-top: 25px;
    padding: 18px auto;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #b59f5b;
    color: #ffffff;
}

.popup-button:hover {
    cursor: pointer;
}